@media (max-width: 650px) {
  html {
    
  }
}

* {
  hyphens: auto;
}

.center-table {
  text-align: center;
  
}
.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial;
}

.compact {
  margin-top: 1.2em;
  margin-bottom: 0.9em;

  p {
    margin: 0 0 0.4em 0;
    padding: 0;
  }
}

.compact h4 {
  margin: 0;
}

.thin-screen {
  display: none;
}

.wide-screen {
  display: block;
}

@media (max-width: 450px) {
  .thin-screen {
    display: block;
  }

  .wide-screen {
    display: none;
  }
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.katex-display .tag {
  position: absolute;
  right: 0;
}

.math-scroll {
  position: static !important;
  margin-left: 1em !important;
}

.proof {
  margin-top: 0 !important;
  padding: 0.3em 0.5em 0.3em 0.5em !important;
  background: none !important;
  border-left: .3em solid #ccc;
  border-radius: 0 !important;
  font-size: 1em !important;
}

.proof summary::before {
  width: 0 !important;
  height: 0 !important;
}

.proof summary {
  font-size: 1em !important;
  padding: 0 0.5em 0 0.5em !important;
  margin: 0 !important;
  font-size: 1em !important;
  user-select: none;
}

.proof[open] summary {
  margin-bottom: 1em !important;
}

.proof-content {
  position: relative;
  top: -0.3em;
  margin: 0 !important;
  padding: 0 0.5em 0 0.5em;
}