.center-table {
  text-align: center;
  
}
.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial;
}

::selection {
    background: var(--md-accent-fg-color--transparent);
    color: black;
    text-shadow: none;
}