.center-table {
  text-align: center;
  
}
.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial;
}

.compact p {
  margin: 0;
  padding: 0;
}

.thin-screen {
  display: none;
}

.wide-screen {
  display: block;
}

@media (max-width: 450px) {
  .thin-screen {
    display: block;
  }

  .wide-screen {
    display: none;
  }
}