* {
  hyphens: auto;
}

.center-table {
  text-align: center;
  
}
.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial;
}

.compact {
  margin-top: 1em;
  margin-bottom: 0.7em;

  p {
    margin: 0 0 0.3em 0;
    padding: 0;
  }
}

.thin-screen {
  display: none;
}

.wide-screen {
  display: block;
}

@media (max-width: 450px) {
  .thin-screen {
    display: block;
  }

  .wide-screen {
    display: none;
  }
}

[data-md-color-scheme=slate] strong {
  color: rgba(255, 255, 255, 0.93);
}

[data-md-color-scheme=slate] em {
  color: rgba(255, 255, 255, 0.85);
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}